<div class="crumbs">
  <ul id="breadcrumbs" class="breadcrumb">
    <li>
      <i class="icon-home"></i>
      <%= link_to "首页", root_path %>
    </li>
    <li class="current">
      <%= link_to "创建操作员", new_resource_path %>
    </li>
  </ul>
</div>

<div class="row">
  <%= render 'form', operator: @operator %>
</div>
