@font-face {
  font-family: 'FontAwesome';
  src: font-url("fontawesome-webfont.eot?v=3.2.1");
  src: font-url("fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), font-url("fontawesome-webfont.woff?v=3.2.1") format("woff"), font-url("fontawesome-webfont.ttf?v=3.2.1") format("truetype"), font-url("fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
}
